---
title: bernadetterobertsisnotmyguru.com
---


<div class="slideshow-wraper">
  <%= partial "partials/quotes" %>
</div> 
<!-- End of SlideShow-->

<div class="welocome-panel">
  <div class="container module">

    <h1>Welcome friend.</h1> 
    <p>
      Here you can find audio samples of the most original spiritual thinker of all time.
    </p>

    <p>
      The samples were lifted thematically from a non-copyrighted recording of one of her last discussion groups. 
    </p>
    <p>
      Thanks to the lovely sisters of Rising Appalachia for putting their beautiful song “Downtown” into the public domain. (I think of “Downtown” as the deepest center of my soul.)  
    </p>
    <p>
      Feel free to download these recordings and send them to friends who might be interested.  
    </p>
    <p>
      You probably want to listen to each one multiple times. I guarantee you, <b>she is not saying what you think she is saying!</b>
    </p>
    <br>
    <strong><%= link_to 'Read More...', '/info.html', :relative => true %></strong>
  </div>
</div>

<div class="container">
<hr>
  <h1>Buy now! </h1>
  <% link_to 'https://www.amazon.com/Unofficial-Study-Guide-Bernadette-Roberts-ebook/dp/B07C9WWX5P/ref=sr_1_13?ie=UTF8&qid=1522815408&sr=8-13&keywords=bernadette+roberts', target: 'blank?' do %>
  <%= image_tag 'book_1.jpg', :class => 'book_image' %>
  <% end %>
  <p>
    This study guide contains introductions to each chapter, three different levels of questions for each chapter, a brief exploration of what a new Christology might look like, a subject index, and an author index for the book The Real Christ by Bernadette Roberts....
  </p>

  <hr>
  <h1>Buy now! </h1>
  <% link_to 'https://www.amazon.com/Bernadette-Roberts-Gods-Big-Experiment-ebook/dp/B07BVJHDCL/ref=sr_1_10?ie=UTF8&qid=1522815408&sr=8-10&keywords=bernadette+roberts', target: 'blank?' do %>
  <%= image_tag 'godsexperiments.jpg', :class => 'book_image' %>
  <% end %>
  <p>
    Although almost completely unknown, Bernadette Roberts was the greatest contemplative and Christian mystic of all time .......
  </p>

</div>
<!-- End of wellcome panel-->
<div class="container module">
  <a href="http://bernadetteroberts.blogspot.com/p/self-published-works.html" target="blank?"><h1>Visit her Website</h1></a>
</div>


<div class="container">

  <audio src="" controls id="audioPlayer">
    Sorry, your browser doesn't support html5!
  </audio>
  <br>
  <ul id="playlist">
    <li class="current-song">
      <%= link_to 'Eucharist', '../audio_samples/eucharist.mp3' %>
    </li>
    <li>
      <%= link_to 'God in nature', '../audio_samples/god_in_nature.mp3' %>
    </li>
    <li>
      <%= link_to 'Heaven', '../audio_samples/heaven.mp3' %>
    </li>
    <li>
      <%= link_to 'Incarnation', '../audio_samples/incarnation.mp3' %>
    </li>
    <li>
      <%= link_to 'Jesus', '../audio_samples/jesus.mp3' %>
    </li>
    <li>
      <%= link_to 'Logos', '../audio_samples/logos.mp3' %>
    </li>
    <li>
      <%= link_to 'Outside the box', '../audio_samples/outside_the_box.mp3' %>
    </li>
    <li>
      <%= link_to 'Self emptying', '../audio_samples/self_emptying.mp3' %>
    </li>
  </ul>
</div>
