

hr {
  color: #FF8F36;
}
a, a:visited {
  text-decoration:  none;
}
h1, h2 {
    color: #FF8F36;
  }
//--------------------------------------------
// https://codepen.io/SmaragdaTh/pen/LERvNq
//--------------------------------------------

img {
  width: 100%;
}

.mySlides {
  width: 100%;
  display: none;
}

.prev, .next {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 48px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  text-shadow: 2px 2px 5px black;
}

.next {
  right: 0;
}

.caption {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 24px;
}
// Using Neat grid from myneat.cscss file
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

// Custom grid for mobile from myneat.cscss file
.section_1 {
	@include grid-media($my-desktop-grid) {
		@include grid-column(6);
	}
}

@include grid-media($my-desktop-grid) {
	.section_2 {
		@include grid-column(6);
	}
}



//----------------------------------------------------
// Three columns grid 
//----------------------------------------------------

.columns {
  margin-top:50px;
  margin-bottom: 50px;
  @include grid-column(4);
  @media screen and (max-width:680px){
    @include grid-column(12);
    padding:5px;
  }
}
.module {
  padding-top: 2em;
}

.footer-social {
  img {
    width: 48px;
  }
  text-align: center;
  h2 {text-align: center;}
  a {
  display: inline-block;
  text-align: center;
  margin-right: 10px; 
  }
  a:hover {
    background-color: #eaeaea;
  }
}
.note {
    font-size: 0.8em;
    font-style: italic;
    margin: 16px 0;
    text-align: center;
}


//------------------------------------
// mp3 audio
//------------------------------------
audio {
  @media screen and (max-width:680px){
    max-width: 200px;
  }
}
#playlist{
  list-style: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
#playlist li a {
  font-size: 1.5em;
  color:black;
  text-decoration: none;
}
#playlist .current-song a{
  color: #1565c0;
}


//----------------------------------------------------
// Slideshow container https://codepen.io/GroovyMotion/pen/wFpEa
//----------------------------------------------------

.bss-slides{
  
  position: relative;
  display: block;    
}
.bss-slides:focus{
 outline: 0;
}
.bss-slides figure{
  position: absolute;
  top: 0;
  width: 100%;
}
.bss-slides figure:first-child{
  position: relative;
}
.bss-slides figure img{
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
  position: relative;
/*-webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  */
}
.bss-slides .bss-show {
  z-index: 3;
}
.bss-slides .bss-show img{
  opacity: 1;
 /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden;*/
}

.bss-slides figcaption{
  @media (max-width: 700px) {
      top: 5px;
      font-size: 0.9em;
      padding: 1em;
  }
  left: 0;
  position:absolute;
  text-align:center;
  top: 40%;
  width: 100%;
  font-family: sans-serif;
  font-size: 1.5em;
  padding: 2em;
  color: #fff;
  background: rgba(0,0,0, .25);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
}
.bss-slides .bss-show figcaption{
  z-index: 2;
  opacity: 1;
}
.bss-slides figcaption a{
  color: #fff;    
}
.bss-next, .bss-prev{
  color: #fff;
  position: absolute;
  background: #000;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 4;
  font-size: 2em;
  margin-top: -1.2em;
  opacity: .5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bss-next:hover, .bss-prev:hover{
  cursor: pointer;
  opacity: 1;
}
.bss-next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.bss-prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.bss-fullscreen{
  display: block;
  width: 24px;
  height: 24px;    
  // background: rgba(0,0,0,.3) url(https://leemark.github.io/better-simple-slideshow/img/arrows-alt_ffffff_64.png); 
  -webkit-background-size: contain; 
  background-size: contain;
  position: absolute;
  top: 5px;
  left: 5px;   
  cursor: pointer;    
  opacity: .3;
} 
.bss-fullscreen:hover{
  opacity: .8;   
}

// :-webkit-full-screen .bss-fullscreen{
//     background: rgba(0,0,0,.4) url(https://leemark.github.io/better-simple-slideshow/img/compress_ffffff_64.png);
//     -webkit-background-size: contain;
//     background-size: contain;
// }
// :-moz-full-screen .bss-fullscreen{
//     background: rgba(0,0,0,.4) url(https://leemark.github.io/better-simple-slideshow/img/compress_ffffff_64.png);
//     background-size: contain;
// }
// :-ms-fullscreen .bss-fullscreen{
//     background: rgba(0,0,0,.4) url(https://leemark.github.io/better-simple-slideshow/img/compress_ffffff_64.png);
//     background-size: contain;
// }
// :full-screen .bss-fullscreen{
//     background: rgba(0,0,0,.4) url(https://leemark.github.io/better-simple-slideshow/img/compress_ffffff_64.png);
//     -webkit-background-size: contain;
//     background-size: contain;
// }
// :-webkit-full-screen .bss-fullscreen{
//     background: rgba(0,0,0,.4) url(https://leemark.github.io/better-simple-slideshow/img/compress_ffffff_64.png);
//     -webkit-background-size: contain;
//     background-size: contain;
// }
// :-moz-full-screen .bss-fullscreen{
//     background: rgba(0,0,0,.4) url(https://leemark.github.io/better-simple-slideshow/img/compress_ffffff_64.png);
//     background-size: contain;
// }
// :-ms-fullscreen .bss-fullscreen{
//     background: rgba(0,0,0,.4) url(https://leemark.github.io/better-simple-slideshow/img/compress_ffffff_64.png);
//     background-size: contain;
// }
// :fullscreen .bss-fullscreen{
//     background: rgba(0,0,0,.4) url(https://leemark.github.io/better-simple-slideshow/img/compress_ffffff_64.png);
//     -webkit-background-size: contain;
//     background-size: contain;
// }


.book_image {
  width: 100px;
}
