/* WIDTH SETTING */

.nav-hold {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-bar {
  width: 100%;
  background-color: #74EDE8;
}

.nav-hold {
  overflow: hidden;
}

.nav-logo {
  @include grid-media($my-desktop-grid) {
	    font-size: 2em;
    padding-top: 6px;
  }
  float:    left;
  display:  block;
  color: #FF8F36;
  padding-top: 20px;
}

.nav-list {
  float: right;
}

.nav-list li {
  float: left;
}

.nav-list li a {
  display:  block;
  padding:  20px 10px;
  color:    #f9f9f9;
}

.nav-menu {
  color:    #f9f9f9;
  float:    right;
  padding:  20px 10px;
  display:  none;
  cursor:   pointer;
}

@media (max-width: 700px) {
  .nav-menu {
    display:  block;
  }

  .nav-list {
    /*float: left;*/
    width:    100%;
    height:   0;
    text-align: center;
  }

  .nav-open {
    height: auto;
  }

  .nav-list li {
    width:    100%;
  }
  
  .nav-list li a {
    padding:  10px 10px;
  }

}